@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;700&family=Merriweather:wght@400;700&family=Poppins:wght@200;400;700&family=Spline+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Cormorant+Garamond:wght@400;700&family=Hahmlet:wght@400;700&family=Sawarabi+Mincho&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Fira Code', monospace;
    background-color: azure;
}
a{
    text-decoration: none;
}
.container{
    width: 100%;
    padding: 0 30px;
}
.row{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 50px;
}

p {
    font-family: 'Fira Code', sans-serif;
    /* line-height: 1.2; */
    margin-bottom: 20px;
    line-height: 1.5;
}
.button{
    margin-bottom: 25px;
}
.button a{
    padding: 12px 35px;
    color: #fff;
    background-color: orangered;
    border-radius: 5px;
    display: inline-block;
}
span{
    color: orangered;
}
/* section{
    padding-top: 50px;
} */
.section_header{
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 1px;
}
#home_info{
    flex-basis: 50%;
    padding: 0 30px;
}
#home_heading{
    position: relative;
    padding-left: 15px;
    border: none;
}
#home_heading::before{
    content: '';
    position: absolute;
    height: 85%;
    width: 5px;
    background-color: deeppink;
    border-radius: 5px;
    top: 0;
    left: 0;
    transform: translateY(10%);

}
#home_heading h1{
    font-family: 'Lora', serif;
    font-size: 56px;
    font-weight: 700;
}
.inner {
    margin: 25px 0;
    width: 85%;
}
div#home_page_image {
    flex-basis: 50%;
    padding: 30px;
    display: inline-flex;
}
div#home_page_image img {
    width: 75%;
    margin: auto;
}






/* 

font-family: 'Fira Code', monospace;
font-family: 'Merriweather', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Spline Sans', sans-serif;

*/